@import "tailwindcss";

:root {
  --background: #141414;
  --foreground: #fcf5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

h2{
  font-weight: bold;
  font-size: 1.1em;
}

footer{
  padding:1em 2em;
}

<<<<<<< HEAD
.shop-card{
  border:1px solid rgba(255, 255, 255, 0.155)
}
=======
.artcard-gradient{
background: #000000;
background: linear-gradient(90deg, rgb(14, 14, 14) 1%, rgba(0, 0, 0, 0.56) 78%, rgba(0, 0, 0, 0.03) 100%);
}

.artcard-gradient.right{
  background: #000000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.456) 35%, rgb(17, 16, 16) 100%);
  }
>>>>>>> 790f345e5f96dc5c6bd103196913ae17294de4a5
