@import "tailwindcss";
/* @plugin "daisyui"; */
/* Theme Variants */

:root {
  --background: #101828 !important;
  --foreground: #fcf5f5 !important;

  --primary: #171F2F !important;
  --secondary: #1D2939 !important;
  --tertiary: #21272B !important;

  --primary-line: #2b394a !important;
  --primary-blue: #1E86D8;

  --primary-border: rgba(255,255,255,0.3);

    /* dashboard */
  --text-active: #7895ff;
  --bg-active: #172142;
}


.dark {
  --background: #06070D;
  --foreground: #ffffff;

  --primary: #1D1E22;
  --secondary: #343438;
}


.light {
  --background: #FFFFFF;
  --foreground: #000000;

  --primary: #F2F2F2;
  --secondary: #D4F6FF;
}



/* Global Theme Tokens */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-primary-line: var(--primary-line);
  --color-primary-blue: var(--primary-blue);
  --color-primary-border: var(--primary-border);
  --color-text-active: var(--text-active);
  --color-bg-active: var(--bg-active);
}

/* Custom Utilities */
@layer utilities {
  .bg-gradient-primary {
    background-image: linear-gradient(
      90deg,
      #6d449f 0%,
      #417a9e 50%,
      #3896e0 93%
    );
  }

  .border-gradient-primary {
    /* set width + style */
    border: 2px solid transparent;
    /* gradient for the border */
    border-image-source: linear-gradient(
      90deg,
      #6d449f 0%,
      #417a9e 50%,
      #3896e0 93%
    );
    /* required to actually use the image as the border */
    border-image-slice: 1;
  }

  .border-b-gradient-primary {
    /* set width + style */
    border-bottom: 3px solid transparent;
    /* gradient for the border */
    border-image-source: linear-gradient(
      90deg,
      #6d449f 0%,
      #417a9e 50%,
      #3896e0 93%
    );
    /* required to actually use the image as the border */
    border-image-slice: 1;
  }
}

/* Example of scoped theme */
body {
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
  }

  background-image: url(https://wallpaperaccess.com/full/340452.png);
}

/* Dark mode override */
@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Base styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

h2 {
  font-weight: bold;
  font-size: 1.1em;
}

footer {
  padding: 1em 2em;
}

.shop-card {
  border: 1px solid rgba(255, 255, 255, 0.155);
}


.art-list-card:hover{
  transition: all 1s ease-in-out;
}

.art-list-card:hover .art-info{
  background-color: rgba(0, 0, 0, 0.27);
  display: flex !important;

}

.art-info {
  display: none; 
  transition: all 1s ease-in-out;
}

.artcard-gradient {
  background: linear-gradient(
    90deg,
    rgba(14, 14, 14, 0.309) 1%,
    rgba(0, 0, 0, 0.168) 78%,
    rgba(0, 0, 0, 0.03) 100%
  );
}

.artcard-gradient.right {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.18) 0%,
    rgba(0, 0, 0, 0.456) 35%,
    rgb(17, 16, 16) 100%
  );
}
